<div class="infoText" id="PlanningText">
<ul>
  <li>We will help plan your future around your investment portfolio to ensure that all your financial needs are met.</li>
  <li>We help direct you in the establishing correct accounts, beneficiary assignments, and distribution management.</li>
  <li>We can help educate and inform you on changes in the industry that may impact your finances.</li>
  <li>We use eMoney software to help you budget, analyze, and project your financial future.</li>
</ul>
</div>
