{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

<h1>Privacy Policy</h1>

<p>Maintaining the trust and confidence of our clients is a high priority. That is why we want you to understand how we protect your privacy when we collect and use information about you, and the steps that we take to safeguard that information. This notice is provided to you on behalf of Bowers Wealth Management, Inc.</p>
<br></br>

<p><span><b><em>Information We Collect: </em></b></span>In connection with providing investment products, financial advice, or other services, we obtain non-public personal information about you, including:

Information we receive from you on account applications, such as your address, date of birth, Social Security Number, occupation, financial goals, assets and income;
Information about your transactions with us, our affiliates, or others; and;
Information received from credit or service bureaus or other third parties, such as your credit history or employment status.</p>

<p><span><b><em>Categories of Information We Disclose: </em></b></span>We may only disclose information that we collect in accordance with this policy. Bowers Wealth Management, Inc. does not sell customer lists and will not sell your name to telemarketers.</p>

<p><span><b><em>Categories of Parties to Whom We Disclose</em></b></span>We will not disclose information regarding you or your account with us, except under the following circumstances:
To our affiliates, to the extent permitted by law;</p>
<ul>
  <li>To entities that perform services for us or function on our behalf, including financial service providers, such as a clearing broker-dealer, investment company, or insurance company;</li>
  <li>To third parties who perform services or marketing on our behalf;</li>
  <li>To your attorney, trustee or anyone else who represents you in a fiduciary capacity;</li>
  <li>To our attorneys, accountants or auditors, and;</li>
  <li>To government entities or other third parties in response to subpoenas or other legal process as required by law or to comply with regulatory inquiries.</li>
</ul>

<p><span><b><em>How We Use Information: </em></b></span>Information may be used among companies that perform support services for us, such as data processors, technical systems consultants and programmers, or companies that help us market products and services to you for a number of purposes, such as:</p>
<ul>
  <li>To protect your accounts from unauthorized access or identity theft;</li>
  <li>To process your requests such as securities purchases and sales;</li>
  <li>To establish or maintain an account with an unaffiliated third party, such as a clearing broker-dealer providing services to you and/or Bowers Wealth Management, Inc.;</li>
  <li>To service your accounts, such as by issuing checks and account statements;</li>
  <li>To comply with Federal, State, and Self-Regulatory Organization requirements, and;</li>
  <li>To keep you informed about financial services of interest to you.</li>
</ul>

<p><span><b><em>Regulation S-AM: </em></b></span>Under Regulation S-AM, a registered investment adviser is prohibited from using eligibility information that it receives from an affiliate to make a marketing solicitation unless: (1) the potential marketing use of that information has been clearly, conspicuously and concisely disclosed to the consumer; (2) the consumer has been provided a reasonable opportunity and a simple method to opt out of receiving the marketing solicitations; and (3) the consumer has not opted out. Bowers Wealth Management, Inc. does not receive information regarding marketing eligibility from affiliates to make solicitations.</p>

<p><span><b><em>Regulation S-ID: </em></b></span>Regulation S-ID requires our firm to have an Identity Theft Protection Program (ITPP) that controls reasonably foreseeable risks to customers or to the safety and soundness of our firm from identity theft. We have developed an ITPP to adequately identify and detect potential red-flags to prevent and mitigate identity theft.</p>

<p><span><b><em>Our Security Policy: </em></b></span>We restrict access to nonpublic personal information about you to those individuals who need to know that information to provide products or services to you and perform their respective duties. We maintain physical, electronic, and procedural security measures to safeguard confidential client information.</p>

<p><span><b><em>Closed or Inactive Accounts: </em></b></span>If you decide to close your account(s) or become an inactive customer, our Privacy Policy will continue to apply to you.</p>

<p><span><b><em>Complaint Notification: </em></b></span>Please direct complaints to: Jack Bowers at Bowers Wealth Management, Inc., 9790 Gateway Drive #220, Reno, NV 89521; Phone: (775) 409-3712. Changes to This Privacy Policy: If we make any substantial changes in the way we use or disseminate confidential information, we will notify you. If you have any questions concerning this Privacy Policy, please contact us at: Bowers Wealth Management, Inc., 9790 Gateway Drive #220, Reno, NV 89521, Phone: (775) 409-3712.</p>

<br></br>

</div>
{% endblock %}
