/*Navbar CSS*/

.navbar {
  height:100px;
}

#logoHeader {
  height:100px;
}

#navlinks{
  font-size: 1em;
  justify-content: flex-end;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  padding: 20px;
  width: auto;
}

/*Video CSS*/

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid- { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid- h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid- a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid- { width: 50%; padding: .5rem; }
.vid- h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid- .acronym { display: none; }
}

/*Scrolling CSS */

@media(min-width:10px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

/*Styling for div with firm specific contents */

#jumbo {
  background: rgba(255,255,255,.5);
  text-align: center;
  vertical-align: middle;
  height: 600px;
}

#jumbotop {
  vertical-align: middle;
  padding-top: 230px;
}


.info {
  background-color: rgba(255,255,255,1);
  min-width: 10px;
  min-height: 10px;
  background-size: cover;
  height: 100%;
  padding: 10px;
  word-wrap: break-word;
  position: relative;
}

#strategies {
  height: 100%;
}

#spacer {
  height: 300px;
  background: rgba(255,255,255,.5);
}

#footer {
  height: 300px;
  background: grey;
}

h1 {
  text-align: center;
}

/*Fade Effect For Tabcontent*/

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*Tab Styling for About Us */

div.tabAbout {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.tabAbout button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

div.tabAbout button:hover {
  background-color: #ddd;
}

div.tabAbout button.active {
  background-color: #ccc;
}

.tabcontentAbout {
  display: none;
  padding: 6px 12px;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/*Tab styling for Services*/

div.tabServices {
  float: left;
  padding-top: 5px;
}

div.tabServices button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 2px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

div.tabServices button:hover {
  background-color: #ddd;
}

div.tabServices button.active {
  background-color: #ccc;
}

.tabcontentServices {
  margin: auto 0;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}


/*Tab styling for Strategies*/

div.tabStrategies {
  float: left;
  padding-top: 5px;
  width: 15%;
  height: 100%;
}

div.tabStrategies button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 2px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

div.tabStrategies button:hover {
  background-color: #ddd;
}

div.tabStrategies button.active {
  background-color: #ccc;
}

.tabcontentStrategies {
  float: left;
  padding: 0px 0px;
  width: 85%;
  border-left: none;
  height: 100%;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/*Team rmation Styling*/

#team {
  display: flex;
  align-items: center;
  justify-content: center;

}

.teamImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;

}

.teammember {
  text-align: center;

}

.memberbio {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*Contact us styling*/
#contactusTable {
  width: 100%;
}

#contactButton {
  text-align: center;
  padding-top: 1%;
}

/*#contact {
  justify-content: center;
  padding-top: 5%;
}*/

#contactInfo {
  padding-top: 2%;
}

#contactusTable td {
  text-align: center;
  width: 33.33%;
}

.contactTableHeaders {
  font-size: 2em;
  color: blue;
}

.contactTable {
  font-size: 1.2em;
}

#contactus {
  justify-content: center;
}

#contactusSubmitButton {
  width: 100px;
  height: 50px;

}


/*Strategies  Styling*/
.strategiesContainer {
  height: 200px;
  width: 100%;
  display: inline-block;
}

.strategyInfoContainer {
  padding-top: 1%;
  width: 100%;
}

.strategyLabel {
  display: inline-block;
  padding-left: .5%;
  padding-top: 2%
}

.donutchart {
   width: 330px;
   height: 200px;
   float: left
}

.strategyDivInfo {
  text-align: center;
}

#footer table#legal {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer a{
  padding: 10px;
  color: white;
}

.affiliate {
  height: 100px;
}

caption {
  color: white;
}

#Fees {
  float: left;
  height: 100%;
  width: 100%;
  padding-left: 22.5%;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.feeContainer {
  height: 100%;
}

#feeChart {
  width: 100%;
  height: auto;
  text-align: center;
}

#chart_div {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.cirForm {
  text-align: center;
  justify-content: center;
}

.contactHeader {
  padding-top: 50px;
}
