<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Asset', 'Allocation'],
      ['Equity ETFs', 100],
    ]);

    var options = {
      title: "Asset Allocation",
      pieHole: 0.4,
      legend: {position: 'left'},
      pieSliceText:'none',
      backgroundColor: "transparent",
      chartArea: {width: "90%"},
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchartALLW'));
    chart.draw(data, options);
  }
</script>
</head>

<body>
<div class="strategiesContainer">

  <div id="donutchartALLW" class="donutchart"></div>
  <div class="strategyLabel">
    <h3>All World ETF Portfolio</h3>
    <h4>Number of funds held: 6-11</h4>
    <h4>Relative Volatility: 0.9 to 1.3</h4>
  </div>

</div>
<div class="strategyInfoContainer">
  <p>The All World ETF Portfolio seeks long-term growth by investing in Index ETF Funds provided by iShares and
Fidelity. Usually it will hold between 6 to 11 different ETFs at one time. A majority of the holdings will be
domestic equities, but international and bond ETFs will also be held depending on market conditions. International
holding can make up to 40% of the portfolio at any given time. Additionally, in an effort to reduce portfolio risk,
up to 20% of the portfolio could be held in fixed income ETFs. Diversified domestic equity and international funds will
be held and for domestic equities industry based ETFs will also be held to target oppurtunities that are seen in certain
industry groups. The use of ETFs keeps management fees minimized, but on occasion actively managed ETFs with higher fees
will be held
if they present a better oppurtunity to passively indexed ETFs. Common valuation metrics, which include Price/Earnings,
Price/Sales, and Earnings Growth will be used to determine investment oppurtunities.
Typically, the All World ETF Portfolio holds a large basket of stock positions, and will remain fully
invested a majority of the time. It competes with the S&P 500 index. During bearish market conditions the portfolio may
become more defensive, but money market funds are not usually held.</p>
</div>

</body>
