
<div class="container" id="contactButton">
  <button type="button" name="button" id="scheduleCall" class='btn btn-primary btn-lg'>Schedule a Call</button>
</div>

<div class="container" id="contactInfo">
  <table id="contactusTable">
    <tr>
      <td>Address</td>
      <td>Email</td>
      <td>Phone</td>
    </tr>
    <tr>
      <td><p>9790 Gateway Drive, Suite 220 <br />
             Reno, NV 89521</p></td>
      <td><p>karsten.dornseif@bowerswealth.com</p></td>
      <td><p>(775) 409-3712</p></td>
    </tr>
  </table>
</div>
